<label for="person-name">Name</label>
<input id="person-name" type="text" data-id="name"/>

<label for="person-birth-date">Birth Date</label>
<input id="person-birth-date" type="text" data-id="birth-date"/>
